<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/app/prd/styles/app.css">
</head>
<body>
   <div ng-controller="myController" class="search">
      <!--  <p>
          <input type="text" ng-model="searchText">
      </p>
      <table border="0">
          <thead>
              <tr>
                 <td>ID</td>
                 <td>Name</td>
                 <td>Phone</td>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="f in friends | filter:search:value">
                 <td>{{$index+1}}</td>
                 <td>{{f.name}}</td>
                 <td>{{f.phone}}</td>
              </tr>
          </tbody>
      </table> -->
      <table border="0">
          <thead>
              <tr>
                 <td>ID</td>
                 <td ng-click="setSort('name')">
                    Name
                    <span ng-class="getClass('name')"></span>
                 </td>
                 <td ng-click="setSort('sex')">
                    Sex
                    <span ng-class="getClass('sex')"></span>
                  </td>
                 <td ng-click="setSort('salary')">
                    Salarys
                    <span ng-class="getClass('salary')"></span>
                  </td>
                 <td ng-click="setSort('birthday')">
                    Birthday
                    <span ng-class="getClass('birthday')"></span>
                 </td>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="user in userInfo | orderBy:sortColumn:reverseSort">
                 <td>{{$index+1}}</td>
                 <td>{{user.name}}</td>
                 <td>{{user.sex}}</td>
                 <td>{{user.salary | currency:"￥"}}</td>
                 <td>{{user.birthday | date:"yyyy-MM-dd"}}</td>
              </tr>
          </tbody>
      </table>
   </div>
   <script src="/app/libs/angular.min.js"></script>
   <script src="/app/libs/jquery-1.11.0.min.js"></script>
   <script src="/app/prd/scripts/app.js"></script>
</body>
</html>